.usefulItems_dropdown01{
    width:100px;
    width:fit-content;
}
.usefulItems_dropdown01 button{
    border:none;
    text-decoration: none;
    width:140px;
}
.usefulItems_dropdown01_initialTitle{
    width:100px;
    background-color: hsl(218, 19%, 42%);
    border-radius: 2px;
    font-family: sans-serif;
    color:white;
    margin:2px;
    margin-bottom: 0px;
}
.usefulItems_dropdown01_dropdown{
    flex-direction: column;
    margin-left: 2px;
    border:2px black solid;
    position: absolute;
}
.usefulItems_dropdown01_item{
    background-color: hsl(218, 18%, 52%);
    border-left: 2px black solid;
    font-family: sans-serif;
    color:white;
}
.usefulItems_dropdown01_item:hover{
    background-color: hsl(218, 17%, 41%);
}