.GraphContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GraphData{
    width:92%;
}
body{
    background-color: hsl(217, 16%, 28%);
}
nav{
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    width:100%;
    position: relative;
    height:20px;
}
nav > div{
    display: flex;
    flex-direction: row;
    position: absolute;
}
.usefulItems-datePicker-container input{
    width:80px !important;
    text-align: center;
}